<p style="color: green"><%= notice %></p>
<div class="text-center">
<%= render @book %>

<div>
  <%= link_to "Edit ", edit_book_path(@book),class: "btn btn-primary ml-2" %> |
  <%= link_to "Back ", books_path,class: "btn btn-primary" %>

  <%= button_to "Delete", @book, method: :delete,class: "btn btn-danger mt-3" %>
</div>
</div>
